[Unit]
Description=fortio demo site service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/demo-deployment
ExecStart=/home/ubuntu/demo-deployment/service-start.sh
Type=forking
Restart=always

[Install]
WantedBy=multi-user.target
